body{
margin:0;
background:#000;
color:#fff;
font-family:Arial;
}

.app{
display:flex;
height:100vh;
}

.sidebar{
width:240px;
background:#111;
padding:20px;
}

.main{
flex:1;
display:flex;
flex-direction:column;
align-items:center;
}

.chat{
flex:1;
width:80%;
max-width:900px;
overflow:auto;
padding-top:40px;
}

.message{
padding:12px;
margin:10px;
border-radius:10px;
max-width:70%;
}

.user{
background:#444;
margin-left:auto;
}

.ai{
background:#222;
}

.inputArea{
display:flex;
width:80%;
max-width:900px;
background:#111;
border-radius:30px;
padding:10px;
margin-bottom:20px;
}

.inputArea input{
flex:1;
background:none;
border:none;
color:white;
font-size:18px;
outline:none;
}

.inputArea button{
background:none;
border:none;
color:white;
font-size:20px;
margin:0 10px;
cursor:pointer;
}

.popup{
display:none;
background:#111;
padding:15px;
border-radius:10px;
}

.modes{
margin-bottom:10px;
}

.modes button{
background:#222;
border:none;
color:white;
padding:8px 12px;
margin:4px;
border-radius:8px;
cursor:pointer;
}

#preview img{
width:80px;
margin:5px;
border-radius:6px;
}

@media(max-width:768px){

.sidebar{
display:none;
}

.chat{
width:95%;
}

.inputArea{
width:95%;
}

}
